
@{
    ViewBag.Title = "ContatoOK";
}

<h2>Formulário Recebido!</h2>

<div class="row col-md-10" >
    Os seus dados foram registrados com sucesso 
    em nossa base de dados.

    Em breve entraremos em contato.
</div>

