h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

p{
    font-size: 16px;
}

article{
    font-size: 16px;
}

h3{
    margin-left: 4px;
}

li{
    font-size: 18px;
}

.contato{
    color: cornflowerblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.experiencia{
    background-color: #e6e6fe;
    border-radius: 5px;
    border-style: solid;
    border-color: gray;
    margin-bottom: 20px;
}